* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.todo__wrapper {
    background-color: rgb(147, 163, 163);
    width: 600px;
    padding: 1rem;
    border-radius: 5px;
}

.todo__container {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todo__header form {
    width: 100%;
    display: flex;

    justify-content: space-between;
}

.todo__header-input {
    flex-grow: 1;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    padding-left: 10px;
    font-size: 1.2rem;
}

.todo__header button {
    height: 40px;
}


.todo__list {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    align-items: center;

    margin: auto;
}

.todo__list li {
    list-style: none;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.todo__list li:hover {
    border: 1px solid #ffffff;
}

.list__item {
    border: 1px solid #000;
}

.list__false {

    border: 1px solid #00000036;
    color: #00000044;
    text-decoration: line-through;

}

.todo__buttons {
    display: flex;
    justify-content: space-between;
}